<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap3 %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title></title>
    <style>
        .header {
            height: 100px;
            margin-top: 5px;
        }
        .userdata,
        .logout {
            text-align: right;
        }
        .userdata {
            font-size: 20px;
        }
        .sites {
            margin-top: 5px;
        }
        .site {
            display: inline-block;
            width: 100%;
        }
        .site-exists {
            border: solid 1px red;
        }
        .image {
            border: solid 1px black;
            margin: 5px 0;
        }
        .image img {
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 header">
            <div class="userdata">{{ email }}</div>
            <form action="/collection/" method="post">
                {% csrf_token %}
                <div class="logout">
                    <input type="submit" class="btn btn-danger" value="Log out"/>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div id="addSiteForm">
                <div class="input-group">
                    <input id="siteAddress" class="form-control" placeholder="Address">
                    <span class="input-group-btn">
                        <button onclick="addSite()" class="btn btn-default">Add</button>
                    </span>
                </div>
            </div>
            <div class="sites">
                {% for site in sites %}
                    <div id="site-{{ site.id }}" class="site">
                        <img src="{{ site.favicon }}"  height=16/>
                        <a href="#" onclick="loadSite({{ site.id }})">{{ site.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8 images">
        </div>
        <script>
            function getCookie(name) {
                var matches = document.cookie.match(new RegExp(
                        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
            }
            //ajax callers and callbacks
            function loadSite(id) {
                $.ajax({
                    url: "load_site", //new view
                    type: "GET",
                    data: { "site_id": id },
                    //fill div.images
                    success: function(json) {
                        $(".images").html("");
                        $.each(json, function(arrayID, image) {
                            var div = $("<div></div>").addClass("image");
                            var img = $("<img>").attr({
                                "src": image.url,
                                "width": image.width > 600 ? 600 : image.width
                            });
                            div.append(img);
                            $(".images").append(div);
                        });
                    },

                    error: function(xhr, errmsg, err) {
                        console.log("We have encountered an error: "+ errmsg);
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }

            function addSite() {
                var input = $("#siteAddress");
                input.removeClass("has-error");
                $(".site").removeClass("site-exists");
                if (input.val() == '') {
                    input.addClass("has-error");
                    return;
                }
                var url = (/^http:\/\//.test(input.val()) ? '' : 'http://') + input.val();
                $.ajax({
                    url: "add_site/",
                    type: "POST",
                    headers: {"X-CSRFToken": getCookie("csrftoken")},
                    data: {
                        "url" : url
                    },
                    //append div.sites
                    success: function(json) {
                        if(json.code) {
                            input.addClass("has-error");
                            if(json.code == 9001) {
                                $("#site-" + json.site_id).addClass("site-exists").delay(10000).removeClass("site-exists");
                                return;
                            }
                            return;
                        }
                        var div = $("<div></div>");
                        var img = $("<img>");
                        var a = $("<a></a>");
                        var split = url.split('/');
                        img.attr({
                            "height" : 16,
                            "src" : split[0] + '//' + split[2] + '/favicon.ico'
                        });
                        a.attr({
                            "href" : "#",
                            "onclick" : "loadSite(" + json.site_id + ")"
                        });
                        a.innerHTML(json.title);
                        div.addClass("site");
                        div.append(img, a);
                        $(".sites").append(div);
                        input.val('');
                    },

                    error: function(xhr, errmsg, err) {
                        console.log("We have encountered an error: "+ errmsg);
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                })
            }
        </script>
    </div>
</div>
</body>
</html>