<!DOCTYPE html>
<html>
  <head>
    {% load bootstrap3 %}
    {% load staticfiles %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    {% load material_form %}
  </head>
  <body>
    
	
    <form action="/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "user" %} Log in
        </button>
    {% endbuttons %}
    </form>
        
    <!--Import jQuery before materialize.js-->
    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% endblock %}    
  </body>
</html>