<!DOCTYPE html>
<html>
<head>
    {% load bootstrap3 %}
    {% load staticfiles %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Python</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    

<form action="/" method="post" class="form" style="width: 300px; margin: 50px auto 0px;">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if error %}
        <div class="error">{{ error }}</div>
        <script>
            $(document).ready(function() {
                $("#id_your_email").val("{{ lastmail }}");
                {% if checkbox %}
                    $("#id_new_user").prop('checked', true);
                    toggled();
                {% endif %}
            });
        </script>
    {% endif %}
    {% buttons %}
        <button type="submit" class="btn btn-primary" id="id_submit">
            {% bootstrap_icon "user" %} Sign in
        </button>
        <a href="restore" class="btn btn-info" id="passrest" role="button">
            Restore password
        </a>
	<span id="ok" style="display:none;"> {% bootstrap_icon "ok" %} </span>
    {% endbuttons %}
</form>

{% block footer %}
{% endblock %}

<script>
function toggled() {
    if (document.getElementById('id_new_user').checked) {
        var newstr = document.getElementById('id_submit').innerHTML;
        newstr_n = newstr.replace("in", "up");
        document.getElementById('id_submit').innerHTML = newstr_n;
        document.getElementById('id_submit').className =
        document.getElementById('id_submit').className.replace("primary", "success");
        $("#passrest").css("display", "none");
    } else {
        var newstr = document.getElementById('id_submit').innerHTML;
        newstr_n = newstr.replace("up", "in");
        document.getElementById('id_submit').innerHTML = newstr_n;
        document.getElementById('id_submit').className =
        document.getElementById('id_submit').className.replace("success", "primary");
        $("#passrest").css("display", "inline-block");
    }
}
toggled();
/*$("#passrest").prop('disabled', !$("#id_your_email").val().length);
$("#id_your_email").keyup(function(event) {
    $("#passrest").prop('disabled', !$("#id_your_email").val().length);
});
function sendpsw() {
    console.log("sps");
    var so = true;
    $("#ok").stop(so, true).fadeIn(200).delay(1000).fadeOut(200);
/*    $.ajax({
	url: "sendpsw/",
	type: "GET",
	data
    });
}*/
</script>

</body>
</html>
